# Ignore Node modules and build directories
node_modules
.next
out

# Ignore version control directory
.git
.github

# Ignore environment and configuration files
.env
*.env

# Ignore test and documentation files
*.md
__tests__

# Ignore Dockerfile and Docker ignore itself to avoid copying them
Dockerfile
.dockerignore