@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TWKLausanne";
  src: url("/fonts/TWKLausanne-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/fonts/TWKLausanne-450.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/fonts/TWKLausanne-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FAMAime";
  src: url("/fonts/FAMAime-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  @apply font-light;
  font-family: "TWKLausanne", sans-serif;
  color: #fff;
}

a {
  @apply underline underline-offset-4;
}
