@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts//TWKLausanne-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts//TWKLausanne-450.ttf") format("truetype");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts//TWKLausanne-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FAMAime";
  src: url("./assets/fonts//FAMAime-Regular.woff") format("woff");
  font-weight: 450;
  font-style: normal;
}

* {
  @apply font-light text-white;
  font-family: "TWKLausanne", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply w-screen overflow-x-hidden;
}

input,
textarea {
  @apply truncate !text-sm font-light;
}

input::placeholder,
input,
textarea::placeholder,
textarea {
  font-weight: 300 !important;
}

input:disabled {
  color: #787878;
  -webkit-text-fill-color: #787878;
}

/* Hide the spinner in number input */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, and newer versions of Edge */
  margin: 0; /* Remove default margin */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  @apply !text-sm;
  font-weight: 450;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.MuiStack-root {
  padding: 0 !important;
}

[data-radix-popper-content-wrapper] {
  margin-top: 0px !important;
}

.heading {
  @apply text-lg;
  font-weight: 450;
}

.link {
  @apply text-mint transition duration-300 hover:text-[#35BD86];
}

.link-hover {
  @apply transition hover:text-mint;
}

.main-container {
  @apply mx-auto px-0 lg:px-14;
  max-width: 1440px;
}

.card {
  background-color: rgba(48, 241, 255, 10%);
}
