@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts//TWKLausanne-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts//TWKLausanne-450.ttf") format("truetype");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts//TWKLausanne-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FAMAime";
  src: url("./assets/fonts//FAMAime-Regular.woff") format("woff");
  font-weight: 450;
  font-style: normal;
}

* {
  @apply font-light text-white;
  font-family: "TWKLausanne", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply w-screen overflow-x-hidden;
}

.layout-background {
  background: radial-gradient(
      120% 120% at 100% 0%,
      #42eca8 0%,
      #17262d 69.59%,
      #000000 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

input,
textarea {
  @apply truncate !text-sm font-light;
}

input:read-only {
  cursor: default;
}

input::placeholder,
input,
textarea::placeholder,
textarea {
  font-weight: 300 !important;
}

input:disabled {
  color: #787878;
  -webkit-text-fill-color: #787878;
}

/* Hide the spinner in number input */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, and newer versions of Edge */
  margin: 0; /* Remove default margin */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  @apply !text-sm;
  font-weight: 450;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2baa83;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #42eca8;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.MuiStack-root {
  padding: 0 !important;
}

[data-radix-popper-content-wrapper] {
  margin-top: 0px !important;
}

.heading {
  @apply text-lg;
  font-weight: 450;
}

.link {
  @apply text-mint transition duration-300 hover:text-[#35BD86];
}

.link-hover {
  @apply transition hover:text-mint;
}

.main-container {
  @apply mx-auto px-0 lg:px-14;
  max-width: 1440px;
}

.card {
  background-color: rgba(48, 241, 255, 10%);
}

button {
  outline: none;
}

button.icon {
  padding: 0 !important;
  margin: 0 !important;
  width: fit-content !important;
  min-width: unset !important;
}

.bread-crumb {
  &:not(:last-child) {
    &::after {
      content: "/ ";
      @apply pointer-events-none ml-2.5 text-sm font-semibold !text-white;
    }
  }
}

#hubspotForm {
  form {
    @apply w-full space-y-6 md:space-y-6;
  }

  .form-columns-1,
  .form-columns-0 {
    @apply flex min-w-full;
  }

  .form-columns-2 {
    @apply grid min-w-full grid-cols-1 gap-6 md:grid-cols-2;

    .hs-dateinput {
      @apply md:!max-w-[100%];
    }
  }

  .form-columns-3 {
    @apply grid min-w-full grid-cols-1 gap-6;
  }
  .actions {
    @apply flex justify-end gap-2;
  }
  .hs-button {
    @apply h-8 w-full cursor-pointer rounded-[30px] bg-mint px-10 font-medium text-black transition-all hover:bg-[#14c57e] disabled:pointer-events-none disabled:bg-[#787878] disabled:text-gray-300 md:w-auto;
  }

  .hs-richtext {
    @apply mb-[10px];
    p {
      @apply !text-white;
    }
  }

  .hs-form-field {
    @apply relative flex w-full flex-col gap-1;
    * {
      option {
        @apply text-black disabled:text-gray-400;
      }
    }

    > legend {
      @apply mb-2 text-xs text-white/80;
    }
    > .hs-error-msgs {
      @apply absolute -bottom-3;
      label {
        @apply !text-xs text-red-500/80;
      }
    }

    > .input {
      > input {
        @apply placeholder:text-white/30;
      }
      > input,
      select,
      textarea,
      .hs-dateinput input {
        @apply relative mb-2.5 w-full rounded-lg border bg-transparent text-sm;
        padding: 0.625rem 0.875rem;
      }
      > textarea {
        margin-bottom: 4px !important;
        height: 200px;
        resize: none;
      }
      > select {
        appearance: none; /* Removes default arrow */
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("/src/assets/images/icons/chevron.svg"); /* Custom arrow */
        background-size: 0.8rem; /* Adjust size */
        background-repeat: no-repeat;
        background-position: right 15px center; /* Adjust position */
        padding: 12px 40px 12px 20px; /* Adjust left & right padding */
      }
    }
  }

  .hs_error_rollup * {
    @apply text-right !text-sm text-red-500/80;
  }

  .hs-fieldtype-file {
    .input {
      input {
        @apply !p-[9px] md:max-w-[272px];
      }
    }
  }

  .hs-fieldtype-checkbox,
  .hs-fieldtype-radio {
    > legend {
      @apply mb-4 !text-white/70;
    }
  }

  .hs-fieldtype-booleancheckbox {
    > legend {
      @apply !static left-0 mb-3 text-[16px] leading-[100%] text-white md:!absolute md:top-0;
    }
  }

  .hs-fieldtype-booleancheckbox,
  .hs-fieldtype-checkbox,
  .hs-fieldtype-radio {
    @apply relative;

    > label {
      @apply mb-[10px] !block;
    }

    > legend {
      @apply !static left-0 text-[16px] leading-[100%] text-white md:!absolute;
    }
    > .input {
      @apply md:ml-[215px];
      input {
        @apply mt-1 flex-shrink-0;
      }
      label {
        @apply flex h-fit gap-2;
      }
      .multi-container {
        @apply grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3;
      }
    }
  }

  .hs-fieldtype-radio {
    .multi-container {
      @apply grid !grid-cols-1 gap-3;
    }
  }

  .hs-datepicker {
    @apply !bg-black;
    .pika-label {
      color: black !important;
    }

    .pika-table {
      th {
        abbr {
          color: black !important;
          text-decoration: none;
        }
      }
      td {
        @apply cursor-pointer overflow-hidden rounded-[0px];
        box-shadow: none !important;

        &.is-selected {
          @apply !bg-mint;
          .pika-day {
            @apply shadow-none hover:!bg-mint;
          }
        }

        .is-empty {
        }

        .pika-day {
          @apply !rounded-none bg-transparent !py-3 text-center text-black transition-all hover:!bg-gray-200;
        }
      }
    }
  }
}
